.App {
  text-align: center;
}


/* #root {
  background-image: url('./styles/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100vh ;
  background-attachment: fixed;
  height: 100vh;
  margin-top: 0;
  padding: 0;
  /* background-color:yellow; */
/* } */ 
/* body {
  background: url('./styles/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */
